body{
    font-size: 30px;
    text-align: center;
}
h1{
    text-align: center;
    color: brown;
}
#top{
    font-style: italic;
   
}
.hyperlink{
    font-size:20px;
    color:red;
    font-style: normal;
}
table{
    /* selecting the border outlines of the big table  */
    border: 2px solid black;   
    border-collapse: collapse;
    width: 50%;
    /* aligning the table to the center of the page */
    margin-left:auto;
    margin-right:auto;

}
th, td {
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    color: rgb(137, 24, 189);
}

th {
    background-color: rgba(80, 238, 32, 0.863);
    color: rgb(24, 24, 116);
}
