h3{
    text-align: center;
    color: darkblue;
    border: 3px, lightgray;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:15%;
}
th{
    background-color: lightcyan;
    text-emphasis: bold;
}
th,td{
    font: Arial, Sans-Serif;
    text-align:center;
    border: 2px solid black;
    padding:5px;
}
table{
    margin-top: 20px;
    border:2px solid black;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.hyperlink{
    font-size:20px;
    color:red;
    font-style: normal;
}